* {
  padding: 0;
  margin: 0;
}

button {
  border-radius: 10px;
  padding: 5px;
  background-color: black;
  color: white;
}

hr {
  width: 80%;
  margin: 15px auto;
}

dialog {
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  font-size: 25px;
}

input, textarea {
  font-size: 20px;
}

.form-header {
  font-size: 40px;
  margin: auto;
}

.form-button-container {
  margin: auto;
}

.form-button-container > button {
  font-size: 20px;
}

.navbar {
  background-color: lightskyblue;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  font-size: 50px;
}

#add-todo-open-btn {
  font-size: 40px;
  padding: 0px 15px;
  border-radius: 50%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  min-height: 83vh;
  margin-bottom: 30px;
}

.menu-container, .project-container {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.category {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
}

.project-header {
  font-size: 25px;
  text-decoration: underline;
}

.todo-container {
  background-color: lightslategray;
  padding-top: 10px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  margin: 10px 20px;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
}

.priority-high {
  background-color: red;
}
.priority-high.completed {
  background-color: rgb(200, 0, 0);
}

.priority-medium {
  background-color: orange;
}
.priority-medium.completed {
  background-color: rgb(200, 110, 0);
}

.priority-low {
  background-color: yellow;
}
.priority-low.completed {
  background-color: rgb(200, 200, 0);
}

.todo-item-section {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer {
  text-align: center;
  background-color: black;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  font-size: 20px;
}